{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}
{% endblock %}

{% block content_header %}
            <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">{{ article.title }}</a></h1>
            <section id="summary">
              {% if article.summary %}{{ article.summary }}{% endif %}
              By {% if article.author %}{{ article.author }}{% else %}Eric{% endif %}, 
              <time class="published" datetime="{{ article.date.isoformat() }}">
              {{ article.date|strftime("%b %d, %Y") }}
              </time>
              {% if article.modified %}
              <time class="modified" datetime="{{ article.modified.isoformat() }}">
              (Edited {{ article.modified|strftime("%b %d, %Y") }})
              </time>
              {% endif %}
            </section>
{% endblock %}
{% block content %}
	{{ article.content }}
{% endblock %}

{% block discussion %}
{% if article.tweet %}
            <section id="discussion">
                <h1>Discussion</h1>
                For comments or corrections, please join the thread on Twitter
                <blockquote id="tweet" data-theme="light" class="twitter-tweet"><a href="{{article.tweet}}"/>{{article.tweet}}</blockquote>
                <script>
                // Twitter embed does not respond automatically to dark mode, and we can't set this attribute after the widget loads either.
                if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                  document.getElementById("tweet").setAttribute("data-theme", "dark");
                };
                </script>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </section>
{% endif %}
{% endblock %}
